*{
    background-color: #141821;
    margin:0;
    font-size:1.2rem;
    font-family:monospace ;
    color:white;
}
body{
    display:flex;
    flex-direction: column;
min-height:100vh;
}
.nav{
    background-color: black;
    width:100%;
    height:75px;
    display:flex;

    align-items: center;
    position:fixed;
    top:0;

}


#box1{
    display:flex;
   background-color: black;
    color:white;
    height:100%;
    width:300px;
    
}
#logo{
    background-color: black;
}
#box1 div{
    background-color: black;
    align-self:center;
}
#box1 h3{
    background-color: black;
    align-self:center;
}

#box2{
display:flex;
background-color: black;
position:absolute;
right:30px;

}
#box2 a{
    display:inline-block;
    text-decoration: none;
    font-size:1.2rem;
    background-color: black;
    color:white;
    font-weight:bold;
    align-self:center;
    margin-top:28px;
    margin-left:60px;  
    

}
a{
    transition-property:all;
    transition-duration:0.1s;
}
a:hover{
    border: 2px solid rgba(255,255,255,0.7);
    
}
hr{
    color:white;
}
/* main */
main{
    margin-top:80px;
}
#Teams{
    text-align:center;
    color:#3dc4d4;
    font-size:2rem;
}
.bar{
    display:flex;
    flex-direction: row;
    width:100%;

justify-content: space-around;
}
.bar button{
    border-radius:10px;
    border:1px solid #3dc4d4;
    transition-property:all;
transition-duration: infinite;
transition-timing-function:steps(0);
}
.bar a{
    border:none;
    text-decoration: none;
    transition-property:all;
transition-duration: infinite;
transition-timing-function:steps(0);
}
.bar button:hover{
    background-color:#3dc4d4 ;
}
.bar a:hover{
    background-color:#3dc4d4 ;
}
.bar button:active{
    background-color: #3dc4d4;
}
#AIMVh{
    font-size:2rem;
    margin-top:20px;
    text-align: center;
}
.AIMVT{
    display:flex;
    flex-wrap:wrap;
justify-content: space-evenly;
align-content: center;
align-items:center;
text-align: center;
}
.AI{
    display:flex;
    flex-direction: column;
    align-content: center;
    width:20%;
    height:400px;
    margin:2%;
    border-width:5px;
    border-color:rgb(135,206,235);
    border-style:solid;
}
.AI a{
    display:inline-block;
}
.AI div{
    display: inline-block;
}
.AI p{
    display:inline-block;
}
#AI1{
    background-image: url("Abhideep\ Shikhar.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI2{
    background-image: url("Aditya\ Goyal.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI3{
    background-image: url("Ankana\ Pari.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}

#AI4{
    background-image: url("Sharvari\ Rajesh\ Karhe.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}

#AI5{
    background-image: url("Shubham\ Kumar\ Mandal.jpeg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}

#AI6{
    background-image: url("Geetesh\ Chandra\ Paidi.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}

#AI7{
    background-image: url("Manmath\ Mishra.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI8{
    background-image: url("Saakshi\ Baranwal.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI9{
    background-image: url("Sai\ Pragnaan.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI10{
    background-image: url("Daksh\ Sargiya.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI11{
    background-image: url("Soumyashree\ Nayak.jpeg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI12{
    background-image: url("Sourav\ Upadhyay.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI13{
    background-image: url("Utsav\ Agarwal.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}
#AI14{
    background-image: url("Sidhartha\ Sankar\ Swain.jpg");
    background-size:cover;
    width:80%;
    margin:10%;
    height:350px;
}












/* footer */
footer{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
background-color: rgba(0,0,0,0.85);
}
footer div{
    display:inline-block;
    display:flex;
    flex-direction:column;
    color:white;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.85);
}
footer h3{
    background-color: rgba(0,0,0,0.85);
}

footer a{
    text-decoration:white underline;
    color:orange;
    background-color: rgba(0,0,0,0.85);
}

footer img{
    background-color: rgba(0,0,0,0.85);
    width:18%;
    height:80px;
}
footer pre{
    position:relative;
    right:10px;
    background-color: rgba(0,0,0,0.85);
}
#address{
    display:block;
}
